<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css"
	href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>案例列表</title>
</head>
<body>
<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		案例管理 <span class="c-gray en">&gt;</span> 案例列表 <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container">
		<form action="{:url('line/line_list')}" method="post">
			<div class="text-c">
			<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button> 
				<input type="text" class="input-text" style="width: 250px" placeholder="案例名称"
					id="keywords" name="keywords" value="{$filter.keywords}">
				<button type="submit" class="btn btn-success radius" id="search" name="">
					<i class="Hui-iconfont">&#xe665;</i> 搜案例
				</button>
			</div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> <a href="javascript:;"
				onclick="line_add('添加案例','{:url('line/line_add')}','700','500')"
				class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加案例</a>
			</span> <span class="r">共有数据：<strong>{$filter.total|default=0}</strong>
				条
			</span>
		</div>
		<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
				 <tr role="row">
				 <th scope="col" colspan="14" rowspan="1">注：所有案例列表
				 	<span style="margin-left:13.3%;">统计合集链接：&nbsp;<a href="{$domain}{:url('all/index')}" target="_blank" style="color:#5a98de;">{$domain}{:url('all/index')}</a></span>
				 </th>
				 </tr>
					<tr class="text-c">
						<th width="80">ID</th>
						<th width="200">名称</th>
						<th width="200">备注</th>
						<th width="250">更新时间</th>						
						<th width="200">统计服务器ip</th>
						<th width="200">使用情况</th>
						<th width="350">操作</th>
					</tr>
				</thead>
				<tbody>
					<!-- {volist name="list" id="vo"} -->
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td>{$vo.name}</td>		
						<td>{$vo.remark}</td>											
						<td>{$vo.update_time?$vo.update_time:'-'}</td>
						<td>{$vo.state_ip}</td>
						<td class="td-status">{if condition="$vo['status']==1"} <span
							class="label label-success radius">已启用</span> {else /} <span
							class="label label-defaunt radius">已停用</span> {/if}
						</td>
						<td class="td-manage">
							{if condition="$vo['status']==2"} <a style="text-decoration: none"
								onClick="line_start(this,'{$vo.id}')" href="javascript:;" title="启用">
								<i class="Hui-iconfont">&#xe6e1;</i></a>
							  {else /}
							  <a style="text-decoration: none" onClick="line_stop(this,'{$vo.id}')" href="javascript:;" title="停用">
							  <i class="Hui-iconfont">&#xe631;</i></a>
							  {/if}
							  <a title="编辑" href="javascript:;" onclick="line_edit('修改案例','{:url('line/line_add')}','{$vo.id}','700','500')"
								class="ml-5" style="text-decoration: none">
								<i class="Hui-iconfont">&#xe6df;</i>
								</a> 
								<a title="删除" href="javascript:;" onclick="line_del(this,'{$vo.id}')"
								class="ml-5" style="text-decoration: none">
								<i class="Hui-iconfont">&#xe6e2;</i></a>
								<a data-title="服务器列表" href="javascript:;" data-href="{:url('server/server_list')}?n={$vo.name}&line_id={$vo.id}" onclick="Hui_admin_tab(this)"
								class="ml-5" style="text-decoration: none">服务器</a>
								<a data-title="落地域名列表" href="javascript:;" data-href="{:url('luodi/luodi_list')}?n={$vo.name}&line_id={$vo.id}" onclick="Hui_admin_tab(this)"
								class="ml-5" style="text-decoration: none">落地</a>
						</td>
					</tr>
					<!-- {/volist} -->
				</tbody>
		</table>
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript"
		src="/static/h-ui.admin/js/H-ui.admin.js"></script>
	<!--/_footer 作为公共模版分离出去-->
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript"
		src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
	$(function(){
		$('.table-sort').dataTable({
			 "processing": true,
			"aaSorting": [[ 1, "desc" ]],//默认第几个排序
			"bStateSave": true,//状态保存
			'searching': false,
			'ordering': false,
			'info': true,
			'autoWidth': true,
			"aoColumnDefs": [
			  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			  {"orderable":false,"aTargets":[0,1,2,3,4,5]}// 制定列不参与排序
			]
		});		
	});
	/*案例-添加*/
	function line_add(title,url,w,h){
		layer_show(title,url,w,h);
	}
	/*案例-启用*/
	function line_start(obj,id){
		layer.confirm('确认要启用吗？',function(index){
			$.ajax({
				type: 'POST',
				url: '{:url("line/switch_state")}',
				dataType: 'json',
				data:{"id":id,"status":1},
				success: function(data){					
					if(data==1){
						$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="line_stop(this,'+id+')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
						$(obj).remove();
						layer.msg('已启用!',{icon: 6,time:1000});
					}else{
						layer.msg('启用失败!',{icon: 5,time:1000});
					}
				},
				error:function(data) {
					console.log(data.msg);
				},
			});
		});
	}
	/*案例-停用*/
	function line_stop(obj,id){
		layer.confirm('确认要停用吗？',function(index){
			$.ajax({
				type: 'POST',
				url: '{:url("line/switch_state")}',
				dataType: 'json',
				data:{"id":id,"status":2},
				success: function(data){
					if(data==1){
						$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="line_start(this,'+id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
						$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
						$(obj).remove();
						layer.msg('已停用!',{icon: 5,time:1000});
					}else{
						layer.msg('停用失败!',{icon: 5,time:1000});
					}				
				},
				error:function(data) {
					console.log(data.msg);
				},
			});		
		});
	}
	/*案例-编辑*/
	function line_edit(title,url,id,w,h){
		var url = url +'?id='+id;
		layer_show(title,url,w,h);
	}
	/*案例-删除*/
	function line_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.ajax({
				type: 'POST',
				url: '{:url("line/line_del")}',
				dataType: 'json',
				data:{"ids":id},
				success: function(data){
					if(data==1){
						$(obj).parents("tr").remove();
						layer.msg('已删除!',{icon:1,time:1000});
					}else{
						layer.msg('删除失败!',{icon: 5,time:1000});
					}
				},
				error:function(data) {
					console.log(data.msg);
				},
			});		
		});
	}
	</script>
</body>
</html>